/* GENERALS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img{
    width: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 100%;
}

/* UTILITY */

.d-flex{
    display: flex;
}
.justify-center{
    display: flex;
    justify-content: center;
}
.justify-left{
    display: flex;
    justify-content: left;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.align-center{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: #7D7F83;
    text-transform: uppercase;
}
a:hover{
    color: white;
}

ul{
    list-style: none;
}
.first-up{
    text-transform: capitalize;
}
.uppercase{
    text-transform: uppercase;
}
.relative{
    position: relative;
}



/* SIDEBAR */

.sidebar{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    z-index: 2;
    width: 20vw;
    height: 100vh;
}
.sidebar .container-sidebar{
    padding: 0px 15px;
}
.container-sidebar .logo{
    display: flex;
    margin: 0 auto;
    padding: 12px 0px;
}
.container-sidebar .logo svg{
    max-width: 130px;
}


.menu-left nav{
    font-size: .8rem;
    color: #7D7F83;
    line-height: 2em;
}

.main-menu{
    padding: 10px 0px;
}
.main-menu svg{
    display: inline-block;
    height: 20px;
    width: 20px;
    padding-right: 3px;
    fill: #7D7F83;
}
.menu-left i{
    display: inline-block;
    font-size: 1.5em;
    padding-right: 5px;
    vertical-align: text-bottom;
}
.main-menu ul li:hover svg{
    fill: white;
}
.menu-left a:hover{
    color: white;
}

.menu-left h3{
    font-size: .9em;
    padding: 10px 0px;
}
.menu-left h4{
    color: #7D7F83;
}


.playlist-menu ul li{
    line-height: 30px;
}

.sidebar-bottom{
    position: fixed;
    background-color: black;
    padding: 5px 0px;
    bottom: 11%;
    left: 15px;
}
.sidebar-bottom .line-bottom{
    border-bottom: 1px solid #7D7F83;
    padding: 2px 0px;
    width: 15vw;
}
.sidebar-bottom .profile{
    padding-top: 5px;
}
.sidebar-bottom .profile a{
    color: white;
    font-weight: 600;
}
.sidebar-bottom span{
    font-size: .6em;
}
.sidebar-bottom svg{
    fill: #7D7F83;
    height: 15px;
    width: 15px;
    vertical-align: middle;
    margin-right: 10px;
}
.sidebar-bottom .profile a svg{
    height: 20px;
    width: 20px;
    background-color: #7D7F83;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 8px;
}


/* HEADER */

header{
    height: 65px;
    background-color: #070b12a9;
    width: 80vw;
    transform: translate(20vw);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 899;
}

header .btn{
    display: flex;
    justify-content: center;
    border: 1px solid #7D7F83;
    border-radius: 20px;
    margin-right: 25px;
}
header .btn a{
    padding: 10px 35px;
    font-size: .7rem;
    color: white;
}
header .btn:hover{
    transform: scale(1.04);
    border-color: white;
}

/* MAIN */

main{
    height: 90vh;
    width: 80vw;
    transform: translate(20vw);
    background-color: #141922;
    overflow: auto;
    padding-top: 10vh;
}

.row{
    padding: 0px 20px;
}
.card{
    width: calc(100vw / 6);
    margin: 5px;
}

.cover{
    
    /* DEBUG */
}

.menu-central ul li{
    padding: 2px 5px;
    padding-top: 13px;
}
.menu-central ul li a{
    font-size: .8rem;
    position: relative;
}


.menu-central ul li .bottom-green:after {
    content: '';
    position: absolute;
    width: 30px;
    display: block;
    height: 2px;
    background-color: #ADFF2E;
    bottom: -3px;
    left: calc(50% - 15px);
}

.title h2{
    padding: 15px 20px;
    font-weight: 800;
}

/* BOX ALBUM */

.cover .name{
    padding: 10px 0px;
    line-height: 20px;
}
.cover .name h4{
    font-weight: 600em;
    font-size: .9rem;
}
.cover .name span{
    font-weight: 300;
    color: #7D7F83;
    font-size: .8rem;
}



/* FOOTER */

footer{
    display: fixed;
    position: relative;
    z-index: 999;
    height: 13vh;
    background-color: #282828;
}




/* ******************************** */ 
/* ******************************** */ 
/* *********** RESPONSIVE ********* */ 
/* ******************************** */ 
/* ******************************** */ 

@media (max-width:878px){
    body, a{
        font-size: 90%;
    }
    .row{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .menu-central ul{
        flex-wrap: wrap;
    }
    
}


@media (max-width:640px){
    body, a{
        font-size: 80%;
    }
    .row{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .card{
        width: calc(100vw / 3.7);
    }
}


@media (max-width:400px){
    body, a{
        font-size: 60%;
    }
    .sidebar{
        width:20px;
    }
    header{
        width: calc(100vw - 20px);
        transform: translatex(20px);
    }
    /* main{
        width: calc(100vw - 20px);
        transform: translate(20px);
    } */
}